#demo-header{
    background-color: rgba(55, 61, 73, 0.975);
    color: #fff;
    box-shadow: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 3.75em;
}

#demo-header .left{
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    white-space: nowrap;
    overflow: hidden;
}

div{
    display: block;
    unicode-bidi: isolate;
}

#demo-header h1{
    letter-spacing: -0.5px;
    font-weight: 600;
    height: 2.75em;
    line-height: 2.75em;
    margin: 0 1.25em 0 0.5em;
    display: inline-block;
}

#demo-header h1 span{
    font-size: 1.25em;
}

#demo-header .left .selector{
    float: left;
}

ul.selector{
    height: 2.75em;
    line-height: 2.7em;
    padding: 0;
    text-decoration: none;
    font-weight: 600;
    color: inherit;
    overflow: hidden;
}